/* custom styles */

body {
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Jura', sans-serif;
  background-color: #Fefefe;
}

.jumbotron {
  /*background-image is set by the JS file*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  margin-bottom: 0;
  /*https://stackoverflow.com/questions/9262861/css-background-image-to-fit-width-height-should-auto-scale-in-proportion*/
  font-weight: bold;
}

.jumbotron-banner {
  font-weight: bold;
}
/*welecome banner*/
.lead {
  font-size: 300%;
  font-weight: bolder;
  /*color - is set by the JS*/
}

/*breaks between sections*/
.breaks {
  margin: 40px 0;
  background-color: #fefefe;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.work-experience-pics {
  width: 50%;
  /*height: 70%;*/
  display: block;
  margin: auto;
}
.work-experience-column {
  /*centers all the pictures*/
  margin: auto;
}
.work-experience-2-columns {
  /*two columns*/
  display: flex;
  flex-direction: column;
  margin: auto;
}


.projects-pics {
  width: 70%;
  /*height: 70%;*/
  display: block;
  margin: auto;
}
.projects-column {
  margin: auto;

  /*position: relative;
  vertical-align: middle;*/
}
.projects-div {
  margin: auto;
}
.picture-subtitle{
  margin: auto;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.picture-subtitle {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  padding: 0px 100px;
  color: rgba(138, 126, 126, 1);
}

.goal {
  text-align: center;
  font-size: 110%;
  color: rgba(102, 102, 153, 1);
}


/*https://www.codeply.com/go/JNy8BtYSem*/
/*https://v4-alpha.getbootstrap.com/layout/grid/*/
