/* custom styles */

body {
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Jura', sans-serif;
  background-color: #Fefefe;
}

.jumbotron {
  /*background-image is set by the JS file*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  margin-bottom: 0;
  /*https://stackoverflow.com/questions/9262861/css-background-image-to-fit-width-height-should-auto-scale-in-proportion*/
  font-weight: bold;
}

.jumbotron-banner {
  font-weight: bold;
}
/*welecome banner*/
.lead {
  font-size: 300%;
  font-weight: bolder;
  /*color - is set by the JS*/
}

/*breaks between sections*/
.breaks {
  margin: 40px 0;
  background-color: #fefefe;
  text-align: center;
  font-size: 40px;
}

.port-pics {
  width: 50%;
  /*height: 70%;*/
  display: block;
  margin: auto;
}

/*stretches each column to the edge of the screen*/
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.portfolio-column {
  /*centers all the pictures*/
  margin: auto;
}

.port-2-columns {
  display: flex;
  flex-direction: column;
  margin: auto;
}

p {
  text-align: center;
  margin-top: 5%;
}

/*https://www.codeply.com/go/JNy8BtYSem*/
/*https://v4-alpha.getbootstrap.com/layout/grid/*/
